[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
psycopg2-binary = "*"
djangorestframework = "*"
django-rest-witchcraft = "*"
djangorestframework-simplejwt = "*"
flake8 = "*"
isort = "*"
numpy = "*"

[dev-packages]

[requires]
python_version = "3.7"
